extends base

block content
  header.bar.bar-nav
    a.icon.icon-compose.pull-right(href='#composeModal')
    a(href='#navPopover')
      h1.title
        span.icon.icon-home
        | Notes
        span.icon.icon-caret
  .content
    ul.table-view
      li.table-view-cell
        a.navigate-right(href='choose-theater.html', data-transition='slide-in')
          | Note title goes here
          p Lorem ipsum dolor sit amet...
      li.table-view-cell
        a.navigate-right(href='choose-theater.html', data-transition='slide-in')
          | Note title goes here
          p Lorem ipsum dolor sit amet...
      li.table-view-cell
        a.navigate-right(href='choose-theater.html', data-transition='slide-in')
          | Note title goes here
          p Lorem ipsum dolor sit amet...
      li.table-view-cell
        a.navigate-right(href='choose-theater.html', data-transition='slide-in')
          | Note title goes here
          p Lorem ipsum dolor sit amet...
      li.table-view-cell
        a.navigate-right(href='choose-theater.html', data-transition='slide-in')
          | Note title goes here
          p Lorem ipsum dolor sit amet...
      li.table-view-cell
        a.navigate-right(href='choose-theater.html', data-transition='slide-in')
          | Note title goes here
          p Lorem ipsum dolor sit amet...
      li.table-view-cell
        a.navigate-right(href='choose-theater.html', data-transition='slide-in')
          | Note title goes here
          p Lorem ipsum dolor sit amet...
      li.table-view-cell
        a.navigate-right(href='choose-theater.html', data-transition='slide-in')
          | Note title goes here
          p Lorem ipsum dolor sit amet...
      li.table-view-cell
        a.navigate-right(href='choose-theater.html', data-transition='slide-in')
          | Note title goes here
          p Lorem ipsum dolor sit amet...
      li.table-view-cell
        a.navigate-right(href='choose-theater.html', data-transition='slide-in')
          | Note title goes here
          p Lorem ipsum dolor sit amet...
      li.table-view-cell
        a.navigate-right(href='choose-theater.html', data-transition='slide-in')
          | Note title goes here
          p Lorem ipsum dolor sit amet...
      li.table-view-cell
        a.navigate-right(href='choose-theater.html', data-transition='slide-in')
          | Note title goes here
          p Lorem ipsum dolor sit amet...
      li.table-view-cell
        a.navigate-right(href='choose-theater.html', data-transition='slide-in')
          | Note title goes here
          p Lorem ipsum dolor sit amet...

  #composeModal.modal
    header.bar.bar-nav
      a.icon.icon-left.pull-left(href='#composeModal')
      h1.title New note
    .content
      form.content-padded
        input(type='text', placeholder='Title')
        textarea(rows='10')
        a.btn.btn-positive.btn-block(href='#composeModal') Save note

  #navPopover.popover
    ul.table-view
      li.table-view-cell Item1
      li.table-view-cell Item2
      li.table-view-cell Item3
      li.table-view-cell Item4
      li.table-view-cell Item5
      li.table-view-cell Item6
      li.table-view-cell Item7
      li.table-view-cell Item8
      li.table-view-cell Item9
      li.table-view-cell Item10

  script(type='text/javascript', src='vendor/jade-runtime.js')
  script(type='text/javascript', src='templates.js')
  script(type='text/javascript', data-main='js/app', src='vendor/require.js')
