a.navigate-right(href='#' data-transition='slide-in')
    =name
    p
        span Alku&nbsp;
        span= time(start_time, 'L LT')
    p
        span Loppu&nbsp;
        span= time(end_time, 'L LT')
